.photo-grid {
  max-width: calc(100% - 2 * 48px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto-fit;
  gap: 16px;
}

@media screen and (max-width : 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}
@media screen and (max-width : 1023px) {
  .photo-grid {
    max-width: calc(100% - 2 * 24px);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media screen and (max-width : 767px) {
  .photo-grid {
    max-width: calc(100% - 2 * 16px);
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
