.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width : 1024px) {
  .footer__copyright {
    font-weight: 400;
  }
}
@media (max-width : 768px) {

}
@media (max-width : 320px) {

}
