.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  margin: 0;
  transition: opacity .5s ease;
}

.place__link:hover {
  opacity: 0.65;
}

@media screen and (max-width : 1023px) {
  .place__link:hover {
    opacity: 1;
  }
}
