.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  margin: 0;
  transition: opacity .5s ease;
}

.place__link:hover {
  opacity: 0.65;
}

@media screen and (max-width : 1024px) {
  .place__link {
    font-weight: 400;
  }
}
@media (max-width : 768px) {

}
@media (max-width : 320px) {

}
