.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: calc(100% - 2 * 312px);
  margin: 0 312px;
  z-index: 1;
}

@media screen and (max-width : 1279px) {
  .cover__title {
    max-width: calc(100% - 2 * 232px);
    margin: 0 232px;
  }
}
@media screen and (max-width : 1023px) {
  .cover__title {
    max-width: calc(100% - 2 * 104px);
    margin: 0 104px;
  }
}
@media screen and (max-width : 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: calc(100% - 2 * 16px);
    margin: 0 16px;
  }
}
