.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  align-self: end;
  margin: 0 0 12px;
}

@media screen and (max-width : 1024px) {
  .place__url-heading {
    font-weight: 400;
  }
}
@media (max-width : 768px) {

}
@media (max-width : 320px) {

}
